{% extends 'Admin/header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint Type</title>
</head>

<h3 align="center" style="color: #009CFF;">Add Complaint Type</h3>
<body>
    <form method="post">
        {% csrf_token %}
        <div class="container-fluid pt-4 px-4">
        <table align="center">
            <tr>
                <td>
                    <div class="form-floating mb-3">
                        <input type="text" name="txtcomtype" id="" value="{{editcomtype.comp_type_name}}" autocomplete="off" required="required" pattern="[a-zA-Z ]{5}" title="Complaint Type should be minimum 5 digits" class="form-control" placeholder="complainttype">
                        <label for="floatingInput">Complaint Type</label>
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input class="btn btn-outline-primary m-2" type="submit" value="Save" name="btnsub"></td>
            </tr>
        </table>
        <br><br>
        <div class="bg-light rounded h-100 p-4">
        <table class="table table-hover">
            <tr>
                <th>Sl.No</th>
                <th>Complaint Type</th>
                <th colspan="2" align="center">Action</th>
            </tr>
            {% for i in comtype %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.comp_type_name}}</td>
                <td><a href="{% url 'webadmin:deletecomtype' i.id %}">Delete</a></td>
                <td><a href="{% url 'webadmin:editcomtype' i.id %}">Edit</a></td>
            </tr>
            {% endfor %}
        </table>
        </div>
        </div>
    </form>
    {% if cominsmsg %}
    <script>alert('Data Inserted....')
    window.location='/Madmin/home/'
    </script>
    {% endif %}
    {% if de %}
    <script>alert('Data Deleted')
    window.location='/Madmin/home/'
    </script>
    {% endif %}
    {% if ed %}
    <script>alert('Data Updated')
    window.location='/Madmin/home/'
    </script>
    {% endif %}
</body>
</html>
{% endblock content %}