{% extends 'Market/header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
</head>
<style>
    .navbar .navbar-nav .nav-link {
    color: lime !important;
    }

    .temp-dark {
        color: lime !important;
    }

    .navbar .navbar-nav .nav-link:hover {
    color: limegreen !important;
    }

    .temp-dark:hover {
        color: limegreen !important;
    }

    .main {
        margin-top: 130px;
        margin-left: 530px;
        padding: 15px;
        width: fit-content;
    }

    .main:hover {
        background-color: rgb(213, 213, 213);
        border-radius: 10px;
        transition: 0.5s;
    }

    .date-box {
        padding: 9px;
        border-radius: 10px;
        border: 1px black solid;
        margin-left: 13px;
        margin-right: 11px;
    }
    .but {
        padding: 10px;
        border-radius: 10px;
        border: none;
        background-color: lime;
        color: white;
    }
    .but:hover {
        color: white;
        background-color: limegreen;
    }
</style>
<body>
    <form action="" method="post">
        <div class="main">
            <table>
                <tr>
                    <td>From Date</td>
                    <td><input type="date" class="date-box" name="txtfdate" id="txtfdate"></td>
                    <td>To Date</td>
                    <td><input type="date" class="date-box" name="txttdate" id="txttdate"></td>
                </tr>
            </table>
        </div>
<div id="res">        
    {% if farmer and customer %}
        <table>
            <tr>
                <td>
                    <div style="border:1px solid black;margin:10px;padding:5px">
                    <table width="700" cellpadding="10px">
                        <tr>
                            <th colspan="5">Farmer Booking</th>
                        </tr>
                        <tr>
                            <th>#</th>
                            <th>Farmer name</th>
                            <th>Booking Date</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        {% for i,j in farmer %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{i.farmer.far_name}}</td>
                            {% if i.bookingid.booking_status == 1 %}
                            <td>{{i.mpayment_date}}</td>
                            {% else %}
                            <td>{{i.booking_date}}</td>
                            {% endif %}  
                            <td>{{j}}</td>
                            <td style="color: green;">Delivered</td>
                            <td><a href="{% url 'webmarket:viewbuyersdeliverypdt' i.id %}" class="but">Product</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
                <td>
                    <div style="border:1px solid black;margin:10px;padding:5px">
                    <table width="700" cellpadding="10px">
                        <tr>
                            <th colspan="7">Customer Booking</th>
                        </tr>
                        <tr>
                            <th>#</th>
                            <th>Customer name</th>
                            <th>Booking Date</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        {% for i,j in customer %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{i.user.cus_name}}</td>
                            {% if i.bookingid.booking_status == 1 %}
                            <td>{{i.mpayment_date}}</td>
                            {% else %}
                            <td>{{i.booking_date}}</td>
                            {% endif %}  
                            <td>{{j}}</td>
                            <td style="color: green;">Delivered</td>
                            <td><a href="{% url 'webmarket:viewcustomerdeliveredpdt' i.id %}" class="but">Products</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </table>
        {% elif farmer %}
        <table  align="center">
            <tr>
                <td>
                    <div style="border:1px solid black;margin:10px;padding:10px;margin-top: 50px;">
                    <table width="700" cellpadding="10px">
                        <tr>
                            <th colspan="5">Farmer Booking</th>
                        </tr>
                        <tr>
                            <th>#</th>
                            <th>Farmer name</th>
                            <th>Booking Date</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        {% for i,j in farmer %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{i.farmer.far_name}}</td>
                            {% if i.bookingid.booking_status == 1 %}
                            <td>{{i.mpayment_date}}</td>
                            {% else %}
                            <td>{{i.booking_date}}</td>
                            {% endif %}  
                            <td>{{j}}</td>
                            <td style="color: green;">Delivered</td>
                            <td><a href="{% url 'webmarket:viewbuyersdeliverypdt' i.id %}" class="but">Product</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </table>
        {% elif customer %}
        <table align="center">
            <tr>
                <td>
                    <div style="border:1px solid black;margin:10px;padding:10px; margin-top: 50px;">
                    <table width="700"  cellpadding="10px">
                        <tr>
                            <th colspan="7">Customer Booking</th>
                        </tr>
                        <tr>
                            <th>#</th>
                            <th>Customer name</th>
                            <th>Booking Date</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        {% for i,j in customer %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{i.user.cus_name}}</td>
                            {% if i.bookingid.booking_status == 1 %}
                            <td>{{i.mpayment_date}}</td>
                            {% else %}
                            <td>{{i.booking_date}}</td>
                            {% endif %} 
                            <td>{{j}}</td>
                            <td style="color: green;">Delivered</td>
                            <td><a href="{% url 'webmarket:viewcustomerdeliveredpdt' i.id %}" class="but">Products</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </table>
        {% else %}
        <h2 style="color: red; margin-top: 150px; margin-left: 700px;" >No Products</h2>
        {% endif %}
    </div>

    </form>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#txtfdate").change(function () {
        var fdate = $(this).val();
        var edate=document.getElementById("txttdate").value;
        //alert(fdate);
        //alert(edate);
        
        $.ajax({
            url: '/Market/ajaxreport/',
            data: { fdate: fdate,edate:edate },
            success: function (data) {
                $("#res").html(data);
            },
        });
    });
    $("#txttdate").change(function () {
        var edate = $(this).val();
        var fdate=document.getElementById("txtfdate").value;
        //alert(edate);
        
        $.ajax({
            url: '/Market/ajaxreport/',
            data: { fdate: fdate,edate:edate },
            success: function (data) {
                $("#res").html(data);
            },
        });
    });
    </script>
{% endblock content %}