{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Playfair+Display:wght@600;700&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'Customer/lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'Customer/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'Customer/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'Customer/css/style.css' %}" rel="stylesheet">
</head>
<script type="text/javascript">
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };
</script>

<body>
    <!-- Spinner Start -->
    <script>
        setTimeout(function() {
            document.getElementById("spinner").style.display = "block";
        }, 2000);
    </script>
    
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center" style="display: none;">
        <img src="{% static 'Customer/img/spinner.png' %}" alt="Loading..." />
    </div>
    <!-- Spinner End -->
    <style>
        body{
            background-image: url("{% static 'Customer/img/customer-home-bg.jpg' %}");
            background-size: 1540px 791px;
            background-repeat: no-repeat;
        }
    </style>
    <h1 style="color: white;margin-left: 20px; margin-top: 130px;">Welcome <span style="font-family: Brush Script MT;font-size: 50px;">{{user.cus_name}}</span></h1>
        
    <div style="margin-top: 10px;">
        <marquee behavior="" direction="" scrollamount="4">
            {% for i in event %}
            <a href="{% url 'webcustomer:viewevents' i.id %}" style="color: white;">{{i.event_name}}</a>&emsp;
            {% endfor %}
        </marquee>
    </div>
    {% if st %}
    <script>alert("Booking is Canceled...!!!")
    window.location='/Customer/home/'
    </script>
    {% endif %}
    {% if book %}
    <script>alert("ITEM IS BOOKED...!")
    window.location = '/Customer/home/'
    </script>
    {% endif %}

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
        <a href="{% url 'webcustomer:home' %}" class="navbar-brand ms-4 ms-lg-0">
            <!-- <h1 class="text-primary m-0">Baker</h1> -->
            <img src="{% static 'Customer/img/d-logo.png' %}" width="100" height="80" alt="">
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarCollapse">
            <div class="navbar-nav mx-auto p-4 p-lg-0">
                <a href="{% url 'webcustomer:search_mar' %}" class="nav-item nav-link ">Market</a>
                <a href="{% url 'webcustomer:search_far' %}" class="nav-item nav-link">Farmer</a>
                <a href="{% url 'webcustomer:mybooking' %}" class="nav-item nav-link">My Booking</a>
                <a href="{% url 'webcustomer:viewapplicationrequest' %}" class="nav-item nav-link">Event Request</a>
                <a href="{% url 'webcustomer:report' %}" class="nav-item nav-link">Report</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        Messages <i class="fas fa-envelope"></i></a>
                    <div class="dropdown-menu m-0">
                        <a href="{% url 'webcustomer:complaint' %}" class="dropdown-item d-link">Complaint</a>
                        <a href="{% url 'webcustomer:reply' %}" class="dropdown-item d-link">Reply</a>
                        <a href="{% url 'webcustomer:feedback' %}" class="dropdown-item d-link">Feed Backs</a>
                    </div>
                </div>
                <a href="{% url 'webcustomer:mycart' %}" class="nav-item nav-link">
                    Cart<i class="fas fa-shopping-cart"></i>
                </a>
                <a href="{% url 'webcustomer:history' %}" class="nav-item nav-link">
                    History
                </a>
            </div>
            <div class=" d-none d-lg-flex">
                <a href="{% url 'webcustomer:my_pro' %}" class="nav-item">
                    <div class="flex-shrink-0 btn-lg-square border border-light rounded-circle">
                        <i class="fas fa-user"></i>
                    </div>
                </a>
            </div>
            <style>
                .icon-logout {
                    color: white;
                }

                .icon-logout:hover {
                    color: red;
                }

            </style>
            <div class="d-none d-lg-flex">
                <a href="{% url 'webcustomer:logout' %}" class="nav-item">
                    <div class="btn btn-lg-square icon-logout border-light rounded-circle" style="margin-left: 15px;">
                        <i class="fas fa-power-off "></i>
                    </div>
                </a>
            </div>
        </div>
    </nav>

    <!-- Navbar End -->

    <!-- Copyright Start -->
    <!-- <div class="container-fluid copyright text-light py-4 wow fadeIn bg-black" data-wow-delay="0.1s" style="margin-top: 560px;">
        <div class="container">
            <div class="row">
            
            </div>
        </div>
    </div> -->
    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'Customer/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'Customer/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'Customer/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'Customer/lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'Customer/lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'Customer/js/main.js' %}"></script>
</body>

</html>