{% extends 'Customer/header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Markets Product</title>
</head>
<style>
    .navbar .navbar-nav .nav-link {
    color: #00ff00 !important;
    }

    .temp-dark {
        color: #00ff00 !important;
    }
    .cart-btn {
        background: black;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        margin-top: 5px;
        justify-content: center;
        margin-top: 10px;
    }

    .pdt-card{
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 0 30px;
        width: 335px;
        margin-left: 20px;
    }
    

    .card {
        display: flex;
        padding: 10px;
        border-radius: 10px;
        gap: 2rem;
        width: fit-content;
    }
    .pdt-card:hover {
        box-shadow: 0px 0px 30px rgb(5, 5, 5);
        transition: transform  0.3s ease-in-out; 
        transform: scale(1.1);
    }

    .item {
        display: flex;
    }

    .con-space {
        margin-right: 10px;
    }

    .image {
        display: flex;
        justify-content: center;
    }
</style>
<body>
    <form action="" method="post" id="marketproductform" data-place-url="{% url 'webfarmer:ajaxsubcat' %}"  data-market-url="{% url 'webcustomer:ajaxmarketproduct' %}">
        <table align="center" style="margin-top: 100px;">
            <tr><td>Category</td>
                <td>
                    <select name="selcat" id="selcat" class="selectbox">
                        <option value="">...Select...</option>
                        {% for i in cat %}
                        <option value="{{i.id}}">{{i.cat_name}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>Sub Catageory</td>
                <td>
                    <select name="selsubcat" id="selsubcat" class="selectbox">
                        <option value="">...Select...</option>
                    </select>
                </td>
            </tr>
        </table>
        <br><br><br>

        <div class="container">
            <div class="row" style="    gap: 4rem;    justify-content: center;" id="result">
                {% for i in mdata %}
                    <div class="col-4 pdt-card">
                        <div class="image"><img src="{{i.pdt_image.url}}" width="200" height="200" style="border-radius: 30%;" alt=""></div>
                        <div class="item" style="margin-top: 10px;"><div style="margin-right: 62px;">Name </div><div> {{i.pdt_name}}</div></div>
                        <div class="item"><div style="margin-right: 72px;">Rate</div><div>{{i.pdt_rate}}</div></div>
                        <div class="item">
                            <div style="margin-right: 62px;">Stock</div>
                            <div>
                                {% if i.pdt_stock <= 0 %}
                                <div style="color:red">Out Of Stock</div>
                                {% else %}
                                <div>{{i.pdt_stock}}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="item"><div style="margin-right: 40px;">Category</div><div>{{i.subcategory.cat.cat_name}}</div></div>
                        <div class="item"><div style="margin-right: 8px;">Sub Catagory</div><div>{{i.subcategory.subcat_name}}</div></div>
                        <div class="item"><div style="margin-right: 30px;">Discription</div><div>{{i.pdt_dis}}</div></div>
                        <div class="item cart-btn"><a href="{% url 'webcustomer:marketcart' i.id %}">Add To Cart</a></div>
                    </div>
                {% endfor %}
            </div>
        </div>
<br><br>
        <!-- <table id="result" align="center">
            <tr>
                {% for i in mdata %}
                <td>
                    <div class="card">
                    <span style="margin-left: 40px;"><img src="{{i.pdt_image.url}}" style="border-radius: 10%;" alt="" width="200" height="150"></span><br>
                    <table width="290" style="color: black;">
                        <tr><td>Name</td><td>{{i.pdt_name}}</td></tr>
                        <tr><td>Rate</td><td>{{i.pdt_rate}}</td></tr>
                        <tr><td>Stock</td>
                        {% if i.pdt_stock <= 0 %}
                        <td style="color:red">Out Of Stock</td>
                        {% else %}
                        <td>{{i.pdt_stock}}</td>
                        {% endif %}
                        </tr>
                        <tr><td>Catageory</td><td>{{i.subcategory.cat.cat_name}}</td></tr>
                        <tr><td>Sub Catagory</td><td>{{i.subcategory.subcat_name}}</td></tr>
                        <tr><td>Discription</td><td>{{i.pdt_dis}}</td></tr>
                    </table>
                    <div class="cart-btn"><a href="{% url 'webcustomer:marketcart' i.id %}">Add To Cart</a></div>
                </div>
                </td>
                {% if forloop.counter|divisibleby:4 %}
                </tr>
                <tr>
                    {% endif %}
                {% endfor %}
            </tr>
        </table> -->
    </form>
    {% if error %}
    <script>alert('Product Already Added to Cart..')
    window.location="/Customer/home/"
    </script>
    {% endif %}
    {% if ins %}
    <script>alert('Product Added to Cart...')
    window.location="/Customer/home/"
    </script>
    {% endif %}
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#selcat").change(function () {
        var cat = $(this).val();
        var sub = document.getElementById("selsubcat").value;
        var ur = $("#marketproductform").attr("data-place-url");
        $.ajax({
            url: ur,
            data: { disd: cat, },
            success: function (data) {
                $("#selsubcat").html(data);

                var ur = $("#marketproductform").attr("data-market-url");
                $.ajax({
                    url: ur,
                    data: { sub: sub,cat: cat },
                    success: function (data) {
                        $("#result").html(data);
                    },
                });
            },
        });
    });

    $("#selsubcat").change(function () {
        var sub = $(this).val();
        var cat = document.getElementById('selcat').value;
        var ur = $("#marketproductform").attr("data-market-url");
        $.ajax({
            url: ur,
            data: { sub: sub,cat: cat },
            success: function (data) {
                $("#result").html(data);
            },
        });
    });


    </script>
    {% endblock content %}