{% if book %}
<table width="700" cellpadding="10px" style="margin-left: 450px;">
    <tr>
        <th>#</th>
        <th>Date</th>
        <th>From</th>
        <th>Total Amount</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    {% for i,j,c in book %}

    <tr align="center">
        <td>{{ forloop.counter }}</td>
        <td>{{ i.booking_date }}</td>
        <!-- <td>{{ c.productid.market.mar_name }}</td> -->
        <td>D MARKET</td>
        <td>
        {{j}}
        </td>
        {% if i.booking_status == 1 %}
            <td style="color: green;">Payed</td>
        {% elif i.booking_status == 2 %}
            <td style="color: red;">Cash On Delivery</td>
        {% else %}
            <td style="color: green;">Delivered</td>
        {% endif %}
        <td><a href="{% url 'webfarmer:mydeliveredproduct' i.id %}" class="bt" style="color: white;">View Product</a></td>
    </tr>

    {% endfor %}

</table>
{% else %}
<h2 style="color: red; margin-top: 130px;" align="center">No Data</h2>
{% endif %}