{% extends 'Farmer/header.html' %}
{% load static %}
{% block content %}
{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dekivered History</title>
</head>
<style>
    .navbar .navbar-nav .nav-link {
    color: #3866a9 !important;
    }
    .navbar .navbar-nav .nav-link:hover {
    color: limegreen !important;
    }

    .temp-dark {
        color: #3866a9 !important;
    }

    .temp-dark:hover {
        color: limegreen !important;
    }
    .main-con {
        margin-top: 130px;
        margin-left: 550px;
    }
</style>
<body>
    <table class="main-con" cellpadding="10px">
        <tr>
            <tr>
                <th>#</th>
                <th>Customer Name</th>
                <th>Booking Date</th>
                <th>Amount</th>
                <th>Status</th>
            </tr>
            {% for i,j in history %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.user.cus_name}}</td>
                <td>{{i.booking_date}}</td>
                <td>{{j}}</td>
                <td style="color: rgb(0, 220, 0);">Delivered</td>
            </tr>
            {% endfor %}
    </table>
</body>
</html>
{% endblock content %}