{% extends 'Subadmin/header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Market</title>
</head>
<body>
    <form action="" method="post">
        <div class="container-fluid pt-4 px-4">
            <h3 style="color: #009CFF;">New Markets</h3>
            <div class="bg-light rounded h-100 p-4">
        <table width="1100" class="table table-hover"> 
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Address</th>
                <th>Photo</th>
                <th>Proof</th>
                <th>DOJ</th>
                <th>Location</th>
                <th colspan="2" align="center">Action</th>
            </tr>
            {% for i in market %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.mar_name}}</td>
                <td>{{i.mar_email}}</td>
                <td>{{i.mar_contact}}</td>
                <td>{{i.mar_address}}</td>
                <td><img src="{{i.marphoto.url}}" alt="" width="60" height="80"></td>
                <td><img src="{{i.marproof.url}}" alt="" width="60" height="80"></td>
                <td>{{i.mar_doj}}</td>
                <td>{{i.place.district.district_name}}<br>{{i.place.place_name}}</td>
                <td><a href="{% url 'websubadmin:approvemarket' i.id %}">Approve</a></td>
                <td><a href="{% url 'websubadmin:rejectmarket' i.id %}">Reject</a></td>
            </tr>
            {% endfor %}
        </table>
        </div>
        </div>
    </form>
</body>
</html>
{% endblock content %}