
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script type="text/javascript">
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };
</script>
<style>
    /* body{
        background-color: gray;
    } */
    .card {
        background-color: white;
        width: fit-content;
        padding: 30px;
        border-radius: 9px;
        box-shadow: 0 0 20px black;
    }

    .card:hover {
        box-shadow: 0 0 20px blue;
    }

    .btn-s {
        padding: 10px 20px;
        background-color: transparent;
        border: 1px black solid;
        border-radius: 10px;
    }
</style>
<body>
    <div id="tab" align="center">
    <form action="" method="post" style="margin-top: 200px;">
        {% csrf_token %}
        <div class="card">
            <table  width="500" align="center" style="border-collapse: collapse;" cellpadding="20" width="25%">
                <tr>
                    <td>New Password</td>
                    <td><input type="password" name="txtpassword2" autocomplete="off" required=""></td>
                </tr>
                <tr>
                    <td>Confirm Password</td>
                    <td><input type="password" name="txtpassword3" autocomplete="off" required=""></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><input type="submit" name="btn" value="Update" class="btn-s"><input type="reset" name="btn" value="Cancel" class="btn-s">
                    </td>
                </tr>
                </table>
        </div>
    </form>
</div>
</body>
</html>